@model IEnumerable<TeacherModel>
<partial name="_Notification" />

<div class="container">
    <h2>Teacher List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                @* <th scope="col">Section</th> *@
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {

                <tr>
                    <th scope="row">@teacher.TeacherId</th>
                    <td>@teacher.Name</td>
                    <td>@teacher.Surname</td>
                   @*  <td>@teacher.Section</td> *@
                    <td>
                        <a type="button" class="btn btn-warning rounded" asp-action="Update" asp-route-id="@teacher.TeacherId">
                            <i class="bi bi-pencil-fill"></i>
                            Edit
                        </a>
                        <form type="button" class="d-inline-flex" method="post" asp-action="Delete" asp-route-id="@teacher.TeacherId">
                            <button class="btn btn-danger rounded"> <i class="bi bi-trash"></i> Delete</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>